.contacts {
    padding: 28px 0 22px 0;
    background-color: $basic_grey;
    &__info--index {
        background-color: #fff;
    }
    &__info-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__intro {
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #111111
    }
    &__adres {
        font-size: 14px;
        line-height: 20px;
        color: $special_dark-grey;
        text-align: right;
    }
    &--bg-green {
        background-color: $basic_grey;
    }
}

@media (min-width: $tablet-width) {
    .contacts {
        padding: 65px 40px 61px;
        &__intro {
            font-size: 20px;
            line-height: 24px;
        }
        &__adres {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

@media (min-width: $desktop-width) {
    .contacts {
        position: absolute;
        top: 95px;
        left: 110px;
        width: 570px;
        padding: 65px 90px 60px 76px;
        background-color: #fff;
        &__intro {
            font-size: 20px;
            line-height: 24px;
        }
        &__adres {
            font-size: 16px;
            line-height: 20px;
            text-align: left;
            
        }
    }
}