.page-main__title {
    text-align: left;
}

.program-choice {
    padding-bottom: 32px;
    &__intro {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #000000;

    }
}

@media (min-width: $tablet-width) {
    .program-choice__container {
        padding-left: 68px;
        padding-right: 68px;
    }
    .page-main__title {
        font-size: 60px;
        line-height: 60px;
    }
    .program-choice {
        &__intro {
            font-size: 20px;
            line-height: 30px;
        }
    }
}