html {
    box-sizing: border-box;
    height: 100%;

    &::after,
    &::before {
        box-sizing: inherit;
    }
}

body {
    font-family: $main-font-family;
    

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        text-decoration: none;
    }

    .visually-hidden {
        display: none;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }
}

