$main-font-family: Oswald, sans-serif;
$second-font-family: Arial, sans-serif;

$container-mobile: 280px;
$container-tablet: 710px;
$container-desktop: 1220px;

$color-white: #fff;
$basic_grey: #F2F2F2;
$special_grey: #CDCDCD;
$special_grey-2: #EBEBEB;
$color-black: #000;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$basic_green: #68B738;
$basic_green_2: #5EAA2F;

$slider-height-mobile: 320px;

$mobile-width: 320px;
$tablet-width: 768px;
$tablet-max-width: 1152px;
$desktop-width: 1300px;


$padding-mobile: 20px;
$padding-tablet: 30px;
$padding-desktop: 40px;

$grip-width-mobile: 35px;
$grip-height-mobile: 6px;