.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    white-space: nowrap;

    &--focusable {
        &:focus,
        &:active {
          position: static;
    
          margin: 0;
          width: auto;
          height: auto;
          clip: auto;
    
          overflow: visible;
          white-space: normal;
        }
    }
}